

.flux {
  fill:mediumslateblue;
  stroke:mediumslateblue;
  font-family:Georgia;
  cursor:grab;
}

.fluxHover {
  fill:#f68d6f;
  stroke:#f68d6f;
  cursor:grab;
}

.popup {
  fill: #adb5bd;
  visibility: hidden;
}

.show {
  visibility: visible;
}



